html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
} 

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 300px;
  }
}

@media (max-width: 583px) {
  .search-bar {
    width: 100px;
  }
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px; 
}

.input-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px; 
}

.input {
  padding: 10px;
  width:350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: .5s;
}


.submit-btn {
  padding: 10px;
  background-color: red;
  border: none ;
  width: 150px;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 1.1em;
  transition: .5s;
}
.mari {
  flex: 1;
  margin-left: 200px;
  padding-top: 200px;
  transition: .5s;
}
.maro{
  flex: 1;
  margin-left: 10px;
  padding-top: 150px; 
  transition: .5s;
}

.log-text{
  display: flex;
  align-items: center;
}

.log{
  height: 90px;
  transition: .5s;
}
.text{
  display: flex;
  align-items: center;
  color: red;
  font-size: 80px;
  line-height: normal;
  transition: .5s;
}

.btnlogin-popup{
  width: 130px;
  height: 40px;
  background: red;
  border: 2px solid #fff;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 20px;
  transition: .5s;
}

.btnlogin-popup:hover{
  background:#fff;
  color: #162938;
  scale: 1.05;
}

.submit-btn:hover{
  background:#fff;
  color: #162938;
  scale: 1.05;
}

@media (max-width: 600px) {
  .btnlogin-popup.hov {
    width: 100px; 
  }
  .submit-btn{
    width:100px;
  }
  .log{
    height: 60px;
  }
  .text{
    font-size: 60px;
  }
  .input{
     width: 300px;
  }
}


@media (max-width: 400px) {
  .btnlogin-popup.hov {
    width: 70px; 
  }
  .submit-btn{
    width: 75px;
  }
  .log{
    height: 40px;
  }
  .text{
    font-size: 40px;
  }
  .input{
     width: 250px;
  }
}

@media (max-width: 1000px) {
  .imp{
     flex-direction: column;
     
  }
  .mari{
    margin-left: auto;
    padding-top: 150px;
    margin-right: auto;
    margin-bottom: auto;
  }
  .maro{
    margin-left: auto;
    padding-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
  }
}



